body {
  background: linear-gradient(
    135deg,
    #61065c,
    #3b0238,
    #180017,
    #010001,
    #000001,
    #0c0117,
    #240339,
    #3e095e
  ); /* made at https://learnui.design/tools/gradient-generator.html */
  background-repeat: no-repeat;
  align-items: center;
  margin: 0;
  padding: 0px 100px 0px 100px;
}
